<div class="app-container">
  <header class="app-header">
    <h1 class="title-font">{{title}}</h1>
  </header>
  <section class="actions" *ngIf="!hasNoBooks && !showForm">
    <button class="button button-small bg-button-action" (click)="toggleForm()">Buch hinzufügen</button>
  </section>
  <main class="app-content">
    <section class="books" *ngIf="!showForm">
      <article
      *ngFor="let book of books"
      id="book-{{book.id}}"
      (click)="editBook(book)"
      class="book bg-default round-corners">
        <header class="book-header">{{book.title}}</header>
        <p class="book-state lent" *ngIf="!book.isAvailable()">Ausgeliehen</p>
        <p class="book-state available" *ngIf="book.isAvailable()">Verfügbar</p>
      </article>
      <article *ngIf="hasNoBooks" class="no-books bg-default round-corners">
        <p>Es sind noch keine Bücher vorhanden</p>
      </article>
      <section class="actions centered" *ngIf="hasNoBooks">
        <button class="button button-big bg-button-action" (click)="toggleForm()">Buch hinzufügen</button>
      </section>
    </section>
    <section class="form" *ngIf="showForm">
      <p class="form-group">
        <input type="text" class="input bg-default" placeholder="Buchtitel" [(ngModel)]="bookForForm.title">
      </p>
      <p class="form-group">
        <select class="select" (change)="formBookStateChange($event)">
          <option
            *ngFor="let state of availableStates"
            [selected]="bookForFormState === state"
            value="{{state}}">
            {{state}}
          </option>
        </select>
      </p>
      <section class="actions">
        <button class="button button-small bg-button-cancel" (click)="toggleForm()">Abbrechen</button>
        <button class="button button-small bg-button-action" (click)="storeBook()">Buch speichern</button>
        <button class="button button-small bg-button-cancel" *ngIf="bookForForm.id !== 0" (click)="deleteBook()">Buch löschen</button>
      </section>
    </section>
  </main>
  <footer class="app-footer">
    <p>&copy; {{year}} by me :)</p>
  </footer>
</div>
